/* declaration block::after

selector {
       property:value;
       property2: value;
}
       */
body{
   background-color: black;
}
h1{
   text-align:center;
   background-color:black;
   color:red;
   margin-left:auto;
   margin-right:auto;
   padding:15px;

}

#memeImage{
   width:350px;
   margin-left:auto;
   margin-right:auto;
   display:block;

}

ol{
       list-style-type: disc;
       color: rgb(202, 200, 200);
       background-color: red;
       font-size: large;       

}

h2{
       font-family:sans-serif;
       text-decoration:underline;
       color: Red;
       background:black;
}

button{
       margin-right:auto;
       margin-left:auto;
       display:block;
       border-radius:20px;
       background-color: lightblue;
       
}

#robotimage{
       display:block;
       width:1560px;
       height: 150px;
       ;
}

nav ul{
       color:red;
       list-style:inside;
       background-color: lightblue;
       border-radius:20px;
       width: 150px;

}

Footer{

       color:white;
}